body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Heebo", sans-serif;
}

.container-bg {
    background-color: #ffffff44;
    border: 1.5px rgb(158, 158, 158) solid;
    box-shadow: 0px 0px 20px rgba(172, 172, 172, 0.596);
    backdrop-filter: blur(20px) saturate(80%) contrast(70%) brightness(130%);
    border-radius: 1rem;
    color: rgb(51, 51, 51);
}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: 0.7rem;
    height: 5vh;
    min-height: 2rem;
    z-index: 2;
}

#header .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
}

#header .right-side:hover {
    filter: brightness(1.2); /* Increase brightness of the background */
}

#header .right-side .nav-text:hover {
    font-weight: bolder;
    color: black;
    /* background-color: rgba(255, 255, 255, 0.856); */
    height: 100%;
    border-radius: 0.7rem;
}

#header .right-side .nav-text {
    display: flex;
    width: 20vw;
    min-width: 2em;
    max-width: 6em;
    margin: 0 0.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a.nav,
div.nav {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-weight: 400;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-styles {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 8vw;
    max-width: 250px;
    min-width: 200px;
    font-size: 0.7em;
    z-index: 2;
    right: 50px;
    bottom: 30px;
    gap: 1em;
}

.map-styles .radio {
    flex: 1 1 auto;
    text-align: center;
}

.map-styles .radio input {
    display: none;
}

.map-styles .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    border: none;
    padding: 0.3rem 0;
    transition: all 0.15s ease-in-out;
}

.map-styles .radio input:checked + .name {
    background-color: #80808036;
    font-weight: 600;
}

.map-styles .radio:hover {
    color: black;
    font-weight: bolder;
}


/* !! CONSOLE CONFIGURATION */
.console-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0.7em;
    z-index: 1;
    width: 30rem;
    max-width: 50vw;
    min-width: 150px;
    height: 80vh;
}

#console > div {
    padding: 0.8rem 1.2rem 0.4rem 1.2rem;
}

#console div * {
    margin: 0 0 0 0;
    text-align: left;
}

#map-title {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.1ch;
}

#map-subtitle {
    color: rgb(97, 97, 97);
    letter-spacing: 0.1ch;
    font-size: 1rem;
}

#console-controls {
    display: flex;
    justify-content: space-between;
}

.metric-control,
.aggregation-control {
    display: flex;
    flex-direction: column;
}

.control-options {
    display: flex;
    justify-content: flex-end; 
}

.control-label {
    margin-right: 1rem; 
}

.interactive-text:hover {
    font-style: italic;
    cursor: pointer;
}

.interactive-form {
    letter-spacing: 0.15ch;
    font-size: 1rem;
}

hr {
    width: 99.5%;
    border-top: 1px #6788a8ab solid 
}

#console-information {
    flex-grow: 1;
    overflow-y: auto;
    margin-right: 7px;
}

/* !! CONSOLE SCROLL-BAR  */
div::-webkit-scrollbar {
    background-color:#ffffff2d;
    border: 1px #81aad238 solid;
    border-radius: 1rem;
    backdrop-filter: blur(20px) saturate(80%) contrast(70%) brightness(130%);
    width: 0.75rem;
}

div::-webkit-scrollbar-thumb {
    background-color: #a7a7a723; /* Change the color as desired */
    border-radius: 20px;
    width: 75%;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: rgba(164, 207, 231, 0.308); /* Change the color as desired */
    border-radius: 10px;
    width: 75%;
}



.style-invert.dark,
.text-invert.dark {
    transition:
        background-color 0.3s,
        color 0.5s;
}

.style-invert.dark {
    background-color: rgba(22, 22, 22, 0.212);
    color: rgb(235, 235, 235);
    border: 1.5px rgb(131, 130, 130) solid;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(20px) saturate(80%) contrast(70%) brightness(130%);
}

.text-invert.dark {
    color: rgb(184, 184, 184) !important;
}


