body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .right-side {
    display: flex;
}
